/* Index.html */

#Title {
    text-align: center;
    font-size: 500%;
}
#upload-form {
    font-size: 500%;
    border-top: 1px solid dimgray;
    
}


/* Navigation bar */

.navbar {
    font-size:xx-large;
    background-image: url(assets/navbar-binary.jpg);
}


