{% extends "layout.html" %}

{% block title %} Bit Manipulation {% endblock %}

{% block content %}
    <div id="Title">
        Bit Manipulation
    </div>
    <div id="upload-form">
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">Upload</button>
        </form>   
    </div>     
    {% if output %}
        <div id="analysis-output">
            <pre>{{ output }}</pre>
        </div>
    {% endif %}
{% endblock %} 